@charset "UTF-8";
/*
 * Ekasmen Projekt Css
 *
 * Forfatter : Johannes Hvilsom Larsen
 * Dato : 7. Maj 2015
 *
 */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*  ---------- colors ----------  */
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*------------------------*/
/*  ---------- colors ----------  */
/* --------- Font setup ----------- */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-3l5osc");
  src: url("../fonts/icomoon.eot?#iefix-3l5osc") format("embedded-opentype"), url("../fonts/icomoon.ttf?-3l5osc") format("truetype"), url("../fonts/icomoon.woff?-3l5osc") format("woff"), url("../fonts/icomoon.svg?-3l5osc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 0.9;
  margin-right: 0.2em;
  text-decoration: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo:before {
  content: "\e600"; }

.icon-add_circle_outline:before {
  content: "\e06c"; }

.icon-insert_drive_file:before {
  content: "\e0e7"; }

.icon-cloud_upload:before {
  content: "\e0fe"; }

.icon-edit:before {
  content: "\e15e"; }

.icon-view_comfortable:before {
  content: "\e1bb"; }

.icon-cancel:before {
  content: "\e205"; }

.icon-check:before {
  content: "\e206"; }

.icon-close:before {
  content: "\e209"; }

.icon-menu:before {
  content: "\e20e"; }

.icon-unfold_more:before {
  content: "\e213"; }

.icon-description:before {
  content: "\e288"; }

.icon-home:before {
  content: "\e29e"; }

.icon-lock:before {
  content: "\e2ab"; }

.icon-search:before {
  content: "\e2ca"; }

.icon-view_list:before {
  content: "\e301"; }

.icon-view_module:before {
  content: "\e302"; }

/* --------- Breakpoints ----------- */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*[data-animation="popIn"] {
  -webkit-animation: popIn 0.15s ease-in;
  -moz-animation: popIn 0.15s ease-in;
  animation: popIn 0.15s ease-in;
  position: relative;
  opacity: 1; }
@-webkit-keyframes popIn {
  from {
    -webkit-transform: translateY(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    opacity: 1; } }
@-moz-keyframes popIn {
  from {
    -moz-transform: translateY(-50px);
    opacity: 0; }
  to {
    -moz-transform: translateY(0px);
    opacity: 1; } }
@keyframes popIn {
  from {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
table.noborder td, table.noborder th, table.noborder tfoot td {
  border: none !important;
  background: none !important; }

thead {
  margin-top: 3em; }

table {
  border-collapse: collapse;
  overflow: scroll;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 100%;
  display: table;
  text-align: left;
  margin-top: 1.5em; }

table + * {
  margin-top: 3em; }

table caption {
  font-weight: 600; }

table td, table th, table tfoot td {
  border: 1px solid #e6e6e6;
  font-size: 1em;
  line-height: 1.5em;
  padding: 10.5px; }

table tr {
  background: white; }

table tr:nth-child(even) {
  background: white; }

table tfoot {
  background: #f2f2f2; }

table th, table tfoot td {
  font-weight: 600; }

body .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  body .popup .inner {
    margin-top: 50px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    position: relative;
    background-color: white; }
    body .popup .inner:last-child {
      margin-right: 0; }
    body .popup .inner .newsletter {
      max-height: 700px;
      overflow: scroll;
      padding: 50px; }
      body .popup .inner .newsletter input {
        margin: 0 auto; }
      body .popup .inner .newsletter button {
        margin-top: 50px;
        float: right; }
    body .popup .inner .text-box {
      max-height: 400px;
      overflow: scroll;
      height: 100%;
      width: 100%;
      padding: 20px; }
      @media screen and (min-width: 650px) and (max-width: 1200px) {
        body .popup .inner .text-box {
          max-height: 700px; } }
      @media screen and (min-width: 1201px) and (max-width: 1400px) {
        body .popup .inner .text-box {
          max-height: 800px; } }
      @media screen and (min-width: 1401px) {
        body .popup .inner .text-box {
          max-height: 800px; } }
      body .popup .inner .text-box div.row {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        body .popup .inner .text-box div.row:last-child {
          margin-right: 0; }
        @media screen and (min-width: 650px) and (max-width: 1200px) {
          body .popup .inner .text-box div.row {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%; }
            body .popup .inner .text-box div.row:last-child {
              margin-right: 0; } }
        @media screen and (min-width: 1201px) and (max-width: 1400px) {
          body .popup .inner .text-box div.row {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%; }
            body .popup .inner .text-box div.row:last-child {
              margin-right: 0; } }
        @media screen and (min-width: 1401px) {
          body .popup .inner .text-box div.row {
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 48.82117%; }
            body .popup .inner .text-box div.row:last-child {
              margin-right: 0; } }
      body .popup .inner .text-box img {
        width: 100%; }
    body .popup .inner .button {
      position: absolute;
      top: -35px;
      right: -35px;
      z-index: 99;
      height: 70px;
      width: 70px;
      background: #FF7B74;
      border-radius: 40px; }
      body .popup .inner .button .streg {
        margin: 32px 0;
        left: 13px;
        background: #FFFFFF;
        border-radius: 8px;
        height: 4px;
        position: absolute;
        width: 60%; }
        body .popup .inner .button .streg:first-of-type {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        body .popup .inner .button .streg:last-of-type {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }

a {
  color: inherit;
  font-weight: 500;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.main {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

/* Oval 7: */
.hero {
  width: 100%;
  min-height: 800px;
  height: 100vh;
  position: relative;
  display: block;
  background-size: cover;
  background-position: center;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/hero-xl.jpg");
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/hero-xl.jpg");
  z-index: 20;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  .hero.opskrift {
    min-height: 500px;
    height: 55vh;
    -webkit-animation: slideshow 30s ease-in infinite;
    -moz-animation: slideshow 30s ease-in infinite;
    animation: slideshow 30s ease-in infinite;
    position: relative;
    opacity: 1; }
@-webkit-keyframes slideshow {
  0% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg"); }
  16.66667% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/bonne_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/bonne_salat.jpg"); }
  33.33333% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/jordbead.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/jordbead.jpg"); }
  50% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/karry_kartoffel_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/karry_kartoffel_salat.jpg"); }
  66.66667% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/kartofler.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/kartofler.jpg"); }
  83.33333% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/tomat_og_mozzarella_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/tomat_og_mozzarella_salat.jpg"); }
  100% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg"); } }
@-moz-keyframes slideshow {
  0% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg"); }
  16.66667% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/bonne_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/bonne_salat.jpg"); }
  33.33333% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/jordbead.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/jordbead.jpg"); }
  50% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/karry_kartoffel_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/karry_kartoffel_salat.jpg"); }
  66.66667% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/kartofler.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/kartofler.jpg"); }
  83.33333% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/tomat_og_mozzarella_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/tomat_og_mozzarella_salat.jpg"); }
  100% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg"); } }
@keyframes slideshow {
  0% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg"); }
  16.66667% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/bonne_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/bonne_salat.jpg"); }
  33.33333% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/jordbead.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/jordbead.jpg"); }
  50% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/karry_kartoffel_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/karry_kartoffel_salat.jpg"); }
  66.66667% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/kartofler.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/kartofler.jpg"); }
  83.33333% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/tomat_og_mozzarella_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/tomat_og_mozzarella_salat.jpg"); }
  100% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gront/agurk_salat.jpg"); } }
  .hero.gril {
    min-height: 500px;
    height: 55vh;
    -webkit-animation: slideshow 30s ease-in infinite;
    -moz-animation: slideshow 30s ease-in infinite;
    animation: slideshow 30s ease-in infinite;
    position: relative;
    opacity: 1; }
@-webkit-keyframes slideshow {
  0% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg"); }
  20% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/cuba_koletter.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/cuba_koletter.jpg"); }
  40% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laks_asiatisk.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laks_asiatisk.jpg"); }
  60% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laksespyd.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laksespyd.jpg"); }
  80% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/Lylling_marokko.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/Lylling_marokko.jpg"); }
  100% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg"); } }
@-moz-keyframes slideshow {
  0% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg"); }
  20% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/cuba_koletter.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/cuba_koletter.jpg"); }
  40% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laks_asiatisk.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laks_asiatisk.jpg"); }
  60% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laksespyd.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laksespyd.jpg"); }
  80% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/Lylling_marokko.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/Lylling_marokko.jpg"); }
  100% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg"); } }
@keyframes slideshow {
  0% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg"); }
  20% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/cuba_koletter.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/cuba_koletter.jpg"); }
  40% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laks_asiatisk.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laks_asiatisk.jpg"); }
  60% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laksespyd.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/laksespyd.jpg"); }
  80% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/Lylling_marokko.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/Lylling_marokko.jpg"); }
  100% {
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/gril/boffelburger.jpg"); } }
  .hero.produkter {
    min-height: 500px;
    height: 55vh;
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/produkter/Gruppbild.jpg");
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.43)), url("billeder/produkter/Gruppbild.jpg"); }
  .hero.bestil {
    min-height: 500px;
    height: 55vh; }
  .hero .hero-cirkel-continer {
    width: 400px;
    margin: 0 auto;
    height: 100%; }
  .hero .hero-cirkel {
    position: absolute;
    bottom: 60px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    border: 10px solid #FF7B74;
    border-radius: 500px;
    height: 400px;
    margin: 0 auto;
    width: 400px;
    text-align: center; }
    .hero .hero-cirkel img {
      display: block;
      margin: 40px auto 15px auto;
      height: 100px;
      width: auto; }
    .hero .hero-cirkel p {
      font-family: "Crimson Text", serif;
      color: #4A90E2;
      font-size: 20px;
      margin: 0;
      font-style: italic; }
    .hero .hero-cirkel h1 {
      margin-top: 15px;
      font-family: "Crimson Text", serif;
      color: #FF7B74;
      font-size: 40px;
      font-weight: normal;
      font-style: italic; }

.intro-1 {
  z-index: 15; }
  .intro-1 .left-image {
    background-image: url("billeder/gril.jpg"); }

.intro-2 {
  z-index: 16;
  overflow: hidden; }
  .intro-2 .right-image {
    background-image: url("billeder/pige.jpg"); }

.intro-3 {
  z-index: 17;
  overflow: hidden; }
  .intro-3 .left-image {
    background-position: left;
    background-image: url("billeder/park.jpg"); }

.end {
  height: auto;
  padding-bottom: 100px;
  position: relative;
  width: 100%;
  background-color: #FF7B74;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .end:before {
    content: '';
    height: 10px;
    width: 100%;
    z-index: 26;
    position: absolute;
    -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2); }
  .end:last-child {
    margin-right: 0; }
  .end .container {
    margin-top: 100px;
    padding: 20px 20px 40px 20px;
    background-color: white;
    position: relative;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
    .end .container:last-child {
      margin-right: 0; }
    @media screen and (min-width: 650px) and (max-width: 1200px) {
      .end .container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 82.94039%;
        margin-left: 8.5298%; }
        .end .container:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
      .end .container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .end .container:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1401px) {
      .end .container {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-left: 17.05961%; }
        .end .container:last-child {
          margin-right: 0; } }
    .end .container button {
      float: right;
      min-width: 250px; }
    .end .container img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .end .container img:last-child {
        margin-right: 0; }
    .end .container a {
      font-family: "Source Sans Pro", sans-serif;
      color: #FF7B74;
      font-size: 25px;
      text-align: center;
      font-weight: 600; }
    .end .container .slidesjs-previous {
      position: absolute;
      left: 20px;
      bottom: 5px; }
      .end .container .slidesjs-previous:before {
        content: '➤';
        margin-right: 1em;
        display: inline-block;
        -webkit-transform: rotate(0.5turn);
        -moz-transform: rotate(0.5turn);
        -ms-transform: rotate(0.5turn);
        -o-transform: rotate(0.5turn);
        transform: rotate(0.5turn); }
    .end .container .slidesjs-next {
      position: absolute;
      right: 20px;
      bottom: 5px; }
      .end .container .slidesjs-next:after {
        margin-left: 1em;
        display: inline-block;
        content: " ➤"; }
  .end .text-box {
    margin-top: 100px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1; }
    .end .text-box:last-child {
      margin-right: 0; }
    @media screen and (min-width: 650px) and (max-width: 1200px) {
      .end .text-box {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2; } }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
      .end .text-box {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2; } }
    @media screen and (min-width: 1401px) {
      .end .text-box {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2; } }
    .end .text-box p:first-of-type {
      margin-top: -2px; }
    .end .text-box h2 {
      -webkit-column-span: all;
      -moz-column-span: all;
      column-span: all;
      line-height: 1.6;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 40px;
      font-weight: 500;
      color: white; }
    .end .text-box p {
      line-height: 1.6;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: white; }

footer {
  height: auto;
  padding-bottom: 150px;
  position: relative;
  width: 100%;
  background-color: #FFFFFf;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  footer:before {
    content: '';
    height: 10px;
    width: 100%;
    z-index: 26;
    position: absolute;
    -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2); }
  footer #slides {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    display: none; }
    footer #slides:last-child {
      margin-right: 0; }
  footer button, footer a.button {
    margin-top: 150px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    background: #F97B74;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 8px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.97em;
    font-weight: 600;
    line-height: 1;
    color: white;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 1em; }
    footer button:last-child, footer a.button:last-child {
      margin-right: 0; }
    @media screen and (min-width: 650px) and (max-width: 1200px) {
      footer button, footer a.button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        margin-left: 25.58941%; }
        footer button:last-child, footer a.button:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
      footer button, footer a.button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-left: 34.11922%; }
        footer button:last-child, footer a.button:last-child {
          margin-right: 0; } }
    @media screen and (min-width: 1401px) {
      footer button, footer a.button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-left: 34.11922%; }
        footer button:last-child, footer a.button:last-child {
          margin-right: 0; } }
    footer button:hover, footer a.button:hover {
      background: #f8645c; }
    footer button:active, footer a.button:active {
      background: #f74d43; }
  footer:last-child {
    margin-right: 0; }

.intro {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  height: 600px;
  position: relative;
  background-color: white; }
  .intro:before {
    content: '';
    height: 10px;
    width: 100%;
    z-index: 26;
    position: absolute;
    -webkit-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 8px 8px -6px rgba(0, 0, 0, 0.2); }
  .intro:last-child {
    margin-right: 0; }
  .intro .left-image, .intro .right-image {
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    background-size: cover;
    background-position: center; }
    .intro .left-image:last-child, .intro .right-image:last-child {
      margin-right: 0; }
  .intro .right-text-box {
    width: 50%;
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .intro .right-text-box .cirkel {
      position: relative;
      background: #FFFFFF;
      border: 10px solid #FF7B74;
      border-radius: 500px;
      border-right: white;
      border-top: white;
      border-bottom: white;
      height: 1000px;
      width: 1000px;
      left: -185px;
      top: -300px; }
      .intro .right-text-box .cirkel .inner {
        width: 500px;
        margin: 90px 80px 90px 100px;
        top: 260px;
        position: relative; }
        @media screen and (min-width: 650px) and (max-width: 1200px) {
          .intro .right-text-box .cirkel .inner {
            width: 500px;
            margin: 90px 80px 90px 100px; } }
        @media screen and (min-width: 1201px) and (max-width: 1400px) {
          .intro .right-text-box .cirkel .inner {
            width: 600px;
            margin: 90px 80px 90px 100px; } }
        @media screen and (min-width: 1401px) {
          .intro .right-text-box .cirkel .inner {
            width: 600px;
            margin: 90px 90px; } }
        .intro .right-text-box .cirkel .inner h2 {
          margin-top: 15px;
          font-family: "Source Sans Pro", sans-serif;
          color: #FF7B74;
          font-size: 50px;
          text-align: center;
          font-weight: 600; }
        .intro .right-text-box .cirkel .inner p {
          line-height: 2;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 20px;
          font-weight: 300;
          color: #4A4A4A; }
    .intro .right-text-box:last-child {
      margin-right: 0; }
  .intro .left-text-box {
    width: 50%;
    height: 100%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .intro .left-text-box .cirkel {
      z-index: 13;
      position: relative;
      background: #FFFFFF;
      border: 10px solid #FF7B74;
      border-radius: 500px;
      height: 1000px;
      width: 1000px;
      left: 155px;
      top: -200px;
      float: right;
      border-left: white;
      border-top: white;
      border-bottom: white; }
      .intro .left-text-box .cirkel .inner {
        width: 400px;
        margin: 60px 50px 60px 150px;
        top: 200px;
        position: relative;
        float: right; }
        @media screen and (min-width: 650px) and (max-width: 1200px) {
          .intro .left-text-box .cirkel .inner {
            width: 500px;
            margin: 60px 70px 60px 150px; } }
        @media screen and (min-width: 1201px) and (max-width: 1400px) {
          .intro .left-text-box .cirkel .inner {
            width: 600px;
            margin: 60px 70px 60px 150px; } }
        @media screen and (min-width: 1401px) {
          .intro .left-text-box .cirkel .inner {
            width: 600px;
            margin: 60px 70px 60px 150px; } }
        .intro .left-text-box .cirkel .inner h2 {
          margin-top: 15px;
          font-family: "Source Sans Pro", sans-serif;
          color: #FF7B74;
          font-size: 50px;
          font-style: italic;
          text-align: center;
          font-weight: 600; }
        .intro .left-text-box .cirkel .inner p {
          line-height: 2;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 20px;
          font-weight: 300;
          font-style: normal;
          color: #4A4A4A; }
    .intro .left-text-box:last-child {
      margin-right: 0; }

.opskrifter {
  width: 100%;
  height: 100%;
  background-color: #FFFFF0;
  padding: 0px 0px 50px 0px;
  display: table; }
  .opskrifter ul {
    display: block;
    list-style: none;
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0px; }
    .opskrifter ul li {
      display: block;
      margin: 10px 0;
      min-height: 300px;
      list-style: none;
      background: #FFFFFF;
      border: 1px solid #EEEEEE;
      border-radius: 13px; }
      .opskrifter ul li img {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 13px 13px 0 0;
        -moz-border-radius: 13px 13px 0 0;
        border-radius: 13px 13px 0 0; }
      .opskrifter ul li p {
        text-align: right;
        margin-right: 1em;
        margin-bottom: 1em;
        line-height: 1;
        font-size: 18px;
        color: #FF7B74;
        font-style: italic;
        font-family: "Crimson Text", serif; }
      @media screen and (max-width: 649px) {
        .opskrifter ul li {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .opskrifter ul li:last-child {
            margin-right: 0; }
          .opskrifter ul li:nth-child(1n) {
            margin-right: 0; }
          .opskrifter ul li:nth-child(1n+1) {
            clear: left; } }
      @media screen and (min-width: 650px) and (max-width: 1200px) {
        .opskrifter ul li {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          .opskrifter ul li:last-child {
            margin-right: 0; }
          .opskrifter ul li:nth-child(2n) {
            margin-right: 0; }
          .opskrifter ul li:nth-child(2n+1) {
            clear: left; } }
      @media screen and (min-width: 1201px) and (max-width: 1400px) {
        .opskrifter ul li {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%; }
          .opskrifter ul li:last-child {
            margin-right: 0; }
          .opskrifter ul li:nth-child(4n) {
            margin-right: 0; }
          .opskrifter ul li:nth-child(4n+1) {
            clear: left; } }
      @media screen and (min-width: 1401px) {
        .opskrifter ul li {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 23.23176%; }
          .opskrifter ul li:last-child {
            margin-right: 0; }
          .opskrifter ul li:nth-child(4n) {
            margin-right: 0; }
          .opskrifter ul li:nth-child(4n+1) {
            clear: left; } }

.toggle {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 99;
  height: 70px;
  width: 70px;
  background: #FF7B74;
  border-radius: 40px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }
  .toggle:hover {
    background: #ff635a; }
  .toggle:active {
    background: #ff4b41; }
  .toggle.open {
    left: calc(265px - 40px); }
    .toggle.open .streg:first-of-type {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .toggle.open .streg:nth-child(even) {
      display: none; }
    .toggle.open .streg:last-of-type {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .toggle .streg {
    margin: 32px 0;
    left: 13px;
    background: #FFFFFF;
    border-radius: 8px;
    height: 4px;
    position: absolute;
    width: 60%; }
    .toggle .streg:first-of-type {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px); }
    .toggle .streg:last-of-type {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px); }

nav {
  z-index: 90;
  top: 0;
  width: 16%;
  position: fixed;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  width: 100%;
  left: -100%; }
  nav ul {
    margin: 0;
    padding: 50px 0px;
    width: 100%;
    list-style: none; }
    nav ul li:first-of-type {
      border-top-color: #d9d9d9;
      border-top-width: 1px;
      border-top-style: solid; }
    nav ul li {
      border-bottom-color: #d9d9d9;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      vertical-align: middle; }
      nav ul li a {
        color: #737373;
        display: block;
        text-decoration: none;
        padding: 1em 1em;
        font-size: 1.2em; }
        nav ul li a:active, nav ul li a:focus, nav ul li a:hover {
          color: #404040; }
      nav ul li:hover {
        background-color: #f2f2f2; }
      nav ul li [class^="icon-"], nav ul li [class*=" icon-"] {
        top: -2px;
        position: relative;
        margin-right: 0.75em;
        vertical-align: middle; }
  nav.open {
    left: 0; }
  @media screen and (min-width: 650px) and (max-width: 1200px) {
    nav {
      width: 260px;
      left: -260px; }
      nav.open {
        left: 0; } }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    nav {
      width: 260px;
      left: -260px; }
      nav.open {
        left: 0; } }
  @media screen and (min-width: 1401px) {
    nav {
      left: -260px;
      width: 260px; }
      nav.open, nav.close {
        left: 0; } }

input, textarea, select {
  background-color: #FFFFFF;
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.97em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.97em;
  line-height: 1.5;
  vertical-align: top;
  padding: 0.75em 1em;
  width: 100%; }
  input:focus, textarea:focus, select:focus {
    border-color: #bfbfbf;
    outline: none; }

.not_valid {
  position: relative;
  border-color: #ba5656;
  width: 100%;
  height: auto;
  color: #ba5656;
  display: inline-block; }
  .not_valid input {
    border-color: #ba5656;
    color: #ba5656;
    width: 100%;
    float: left; }

.valid {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block;
  color: #66bc7f; }
  .valid input {
    color: #66bc7f;
    border-color: #66bc7f;
    width: 100%;
    float: left; }

label {
  display: block;
  font-size: 0.776em;
  margin: 10px 0px 5px 0px; }

input[type=text] {
  max-height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  width: 100%;
  min-height: 110px;
  resize: vertical;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="search"] {
  max-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  max-height: 40px;
  line-height: 1.2;
  max-width: 100%;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.selectorHelper {
  position: relative;
  width: 100%;
  height: auto;
  display: inline-block; }
  .selectorHelper:after {
    color: #999999;
    position: absolute;
    font-size: 1.5em;
    top: 0.10em;
    right: 0.25em;
    font-family: 'icomoon';
    content: "\e213"; }

button, a.button {
  background: #F97B74;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 8px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.97em;
  font-weight: 600;
  line-height: 1;
  color: white;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1em; }
  button:hover, a.button:hover {
    background: #f8645c; }
  button:active, a.button:active {
    background: #f74d43; }

.left {
  float: left;
  margin-right: 1.5em; }

.right {
  float: right;
  margin-left: 1.5em; }
