<!DOCTYPE html>
<html>
<head>
	<title>Dan-sukker - Produkter</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic|Crimson+Text:400,600italic,600,400italic' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/main.css') }}">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
	<nav>
<ul>
		<li><a href="/">Forside</a></li>
		<li><a href="/opskrifter">Grønt til grillen</a></li>
		<li><a href="/gril">Grillretter</a></li>
		<li><a href="/produkter">Produkter fra Dansukker</a></li>
		<li><a href="/bestil">Bestil matriale</a></li>
	</ul>
	</nav>
	<div data-func="menutoggle" class="toggle">
		<div class="streg"></div>
		<div class="streg"></div>
		<div class="streg"></div>
	</div>
	<div class="main">
		<section class="hero produkter">
			<div class="hero-cirkel-continer">
				<div class="hero-cirkel">
					<img src="{{ url_for('static', filename='assets/billeder/logo.svg') }}">
					<h1>Produkter fra Dansukker</h1>
				</div>
			</div>
		</section>
		<section class="end">
		<div class="container">
			<div class="row">
			<table>
			<thead>
  			 <tr>
  			   <th colspan="2">Nyhedsbrev</th>
  			 </tr>
  			</thead>
  			{% for newsletter in newsletters %}
			  <tr>
			    <td>{{ newsletter.email }}</td>
			    <td><a href="/session/delete/newsletter/{{ newsletter.id }}">Slet Email</a></td>
			  </tr>
			{% endfor %}
			</table>
			</div>

			<div class="row">
			<table>
			<thead>
  			 <tr>
  			   <th colspan="4">Bestillinger</th>
  			 </tr>
  			</thead>
  			{% for order in orders %}
			  <tr>
			    <td>{{ order.name }}</td>
			    <td>{{ order.email }}</td>
			    <td>{{ order.phonenumber }}</td>
			    <td><a href="/session/delete/order/{{ order.id }}">Slet Bestilling</a></td>
			  </tr>
			{% endfor %}
			</table>
			</div>

			</div>
		</section>
	<footer>
		<button data-func="showNewsLetterSignUp" href="#">Skriv dig op til vores nyhedbrev</button>
		
	</footer>

</div>

  <script src="{{ url_for('static', filename='assets/js/jquery.slides.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>