<!DOCTYPE html>
<html>
<head>
	<title>Dan-sukker</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic,600italic|Crimson+Text:400,600italic,600,400italic' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>
<nav>
	<ul>
		<li><a href="forside.html">Forside</a></li>
		<li><a href="opskrifter.html">Grønt til grillen</a></li>
		<li><a href="opskrifter.html">Grillretter</a></li>
		<li><a href="#">Produkter fra Dansukker</a></li>
		<li><a href="#">Bestil matriale</a></li>
	</ul>
</nav>
<div data-func="menutoggle" class="toggle">
	<div class="streg"></div>
	<div class="streg"></div>
	<div class="streg"></div>
</div>
<div class="main">
	<section class="hero">
		<div class="hero-cirkel-continer">
			<div class="hero-cirkel">
				<img src="billeder/logo.svg">
				<p>Præsentere</p>
				<h1>De hyggeligste<br/> Sommeraftner</h1>
			</div>
		</div>
	</section>
	<section class="intro intro-1">
		<div class="left-image"></div>
		<div class="right-text-box">
			<div class="cirkel">
			<div class="inner">
				<h2><i>Sæt dit eget præg på<br/>  årets grillsæson</i></h2>
				<p><i>Grillsæsonen er snart over os, og allerede inden sommeren er rigtigt i gang, giver grillmaden os en forsmag på de kommende hyggelige sommeraftener. Tænd grillen, og nyd allerede nu smagen af grillet kød eller fisk – men ikke mindst, nyd de tiltagende lyse aftener</i></p>
			</div>	
			</div>
		</div>
	</section>
	<section class="intro intro-2">
		<div class="left-text-box">
			<div class="cirkel">
			<div class="inner">
				<p>Du kan tilføre ethvert måltid sin helt egen spændende smagsoplevelse med enkle midler. Sæt dit personlige fingeraftryk på middagen gennem din egen hjemmelavede krydderiblanding, sauce eller marinade. Det er jo krydderierne og marinaderne, som giver det sidste ekstra pift til grillkødet, fisken, kyllingen og ikke mindst lokker nye smage frem og giver variation til den lange grillsæson, som venter forude</p>

				<p>Prøv en god rub til fisk. Gnid laksen med en tørmarinade blandet af sukker, salt, kanel, muskatnød, oregano og hvidløg. Grill fisken, og nyd den aromatiske duft, og mærk hvordan laksen smelter på tungen.</p>

			</div>	
			</div>
		</div>
		<div class="right-image"></div>
	</section>
	<section class="intro intro-3">
		<div class="left-image"></div>
		<div class="right-text-box">
			<div class="cirkel">
			<div class="inner">
				<p>Eller hvad siger du til at byde på kød tilberedt med en chokolade-rub? </p>
				<p>Overrask dine gæster med en hindbærsauce som tilbehør til oksekød. Garanteret uventet, men en sikker vinder med den smukke røde farve og et strejf af tabasco.</p>
				<p>Alle grillaftener byder på den sikre klassiker – en barbecue-sauce med en kraftig smag. Her giver vi dig opskriften på en fyldig barbecue-sauce med en let røget smag. Byd dine naboer på en grillaften, eller brug et glas af din egen hjemmekomponerede sauce som værtindegave, oglad skønne smage og dufte sprede sig i nabolaget.</p>

			</div>	
			</div>
		</div>
	</section>
	<section class="end">
		<div class="text-box">
		<p>Brug grøntsager og frugter som rabarber, abrikos og hindbær med varme krydderier og kombiner dem med Cane Syrup (link til produkt), Muscovadorørsukker eller Brun Farin   i marinader og saucer. Det fremhæver og forbedrer smagen af både kød og fisk. Med hjemmelavede marinader og saucer har du uendelige muligheder for at variere smagsoplevelsen.</p>
		<p>Lad dig inspirere af en opskrift fra Asien og lad 	grillaftenen præges af ingefær, koriander, chili og en sursød smag eller hvad med rødvinsmarinade fra Cuba? Det er helt enkelt at lave din egen grillsauce på hakkede tomater tilsat dine favoritkrydderier eller en kombineret marinade og sauce lavet med paprika, hvidløg og cayennepeber, som giver et ekstra pift til grillaftenen.</p>
		<p>Mens grillen gøres klar er det oplagt at invitere til sommerhygge med hjemmelavet rabarbersaft, der smager af den dejligste danske sommer</p>
		<p>På <a href="http://www.dansukker.dk">Dansukker.dk</a> og i vores brochure - Sæt smag på grillen (link til PDF) - finder du en lang række tips om nye friske marinader, rubs og saucer til at sætte smag på årets barbecue.</p>
		</div>
	</section>

</section>
	<footer>
		<button data-func="showNewsLetterSignUp" href="#">Skriv dig op til vores nyhedbrev</button>
		
	</footer>

</div>
  <script src="js/jquery.slides.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>